/*
* Jaclyn Roethel
* Due Date
* Padua Panda Travel Agency/ Project 3

/* Body attributes here */

{background-color: aliceblue}

#img1{float:right; width 1000px; height: 400px; }
#img2{float:right; width 1000px; height: 400px; }
#img3{float:right; width 1000px; height: 400px; }

#pic1{float:left}
#pic2{float:right}
#pic3{float:right}